# Python-un gərəksiz keş faylları
__pycache__/
*.pyc

# Böyük və gizli saxlanmalı data faylları (Bunu yazırıq ki, CSV-lər GitHub-a getməsin)
*.csv
*.xlsx
*.xls
scripts/raw_data/

# Local Power BI tənzimləmələri
*.user
